html{
	height:100%;
}
.flex {
	display: flex;
	margin-bottom: 120px;
}
#advisor1{
	text-align: center;
	position: relative;
}
#advisor2{
	text-align: center;
	position: relative;
}
#advisor-image-container{
	;
	position: relative;
	height: 80px;
	width: 80px;
	left: 50%;
	transform: translate(-50%);

	
}
#advisor-image{
	display: none;
	width: 100%;
	border-radius: 50%;
	border: 2px solid black;
}
#submit{
	display: block;
	position: relative;
	top: 100%;
	transform: translateY(-100%);
}
td{
	padding: 20px;
}
#submit, #myBtn{
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}