html, body {
	height:100%;
}

* { border: 2px solid black; }

.container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
	width:80%;
}

#logo {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	max-width: 500px;
}
#login {
	position: relative;
	display: flex;
	max-width: 500px;
	left: 50%;
	transform: translateX(-50%);
}
#login-field {
	width: 80%;
}
#login-submit{
	width:20%;
}
input {
	width: 95%;
}

/* Small screen */
@media only screen and (max-width: 450px)
{
	#login {
		flex-direction: column;
	}
	#login-field,#login-submit {
		width:100%;
	}
}
/* Small screen */
#login-field-item1,#login-field-item2 {
	padding: 5% 10px 20px 5% ;
}


#submit {
	display: block;
	position: relative;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}